.app__grid-item {
  min-width: 18%;
  text-decoration: none;
  color: #333;

  &--title {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &--year {
    font-size: 0.6rem;
  }

  img {
    width: 120px;
    background-color: #f0edcf;
    border: 1px solid #333;
  }

  &:hover {
    opacity: 0.5;
    transition: opacity 200ms;
  }
}
